.App {
  text-align: center;
  background-color: rgb(228, 220, 220);
  font-family: 'Merriweather', serif;
}

.image {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.image:hover {
  opacity: 70%;
  cursor: pointer;
}

.image:active {
  padding: 1px;
}